.featured-properties {
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;

  &-item {
    border-radius: $radius;
    overflow: hidden;
    gap: 0.2em;
    display: flex;
    flex-direction: column;
    & img {
      object-fit: cover;
    }

    & span {
      font-weight: 600;
      font-size: $fs-300;
      margin: 0;
    }
    & .item-desc {
      font-size: $fs-200;
      color: $clr-accent-300;
    }
    & .item-price {
      font-size: $fs-200;
      font-weight: $fw-500;
    }
    &-rating {
      display: flex;
      align-items: center;
      gap: 0.3em;
      & button {
        padding: 0.2em 0.5em;
        border-radius: $radius;
      }
      & span {
        font-size: $fs-200;
      }
    }
  }
}

@media (max-width: 50em) {
  .featured-properties {
    flex-wrap: wrap;
    justify-content: space-around;
    &-item {
      width: calc(min(100%, 200px));
    }
  }
}
