.footer {
  padding: $size-400 0 0;
  &-lists {
    @include flex-jSpace_between-aCenter($j: space-evenly);
    flex-wrap: wrap;

    gap: 1em;
    &-list {
      text-transform: capitalize;
      color: $clr-accent-300;
      font-size: $fs-200;
    }
  }
  & p {
    color: $clr-accent-300;
    font-size: $fs-100;
    margin-top: 1em;
  }
}
