.main-header {
  background-color: $clr-primary-300;
  padding-top: 1em;
  & .navbar {
    // border: $d-border;
    // height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .logo {
      color: $clr-accent-100;
      text-transform: none;
      font-size: $fs-600;
      font-weight: $fw-600;
    }
    & nav {
      gap: 1em;
      display: flex;
      a {
        background-color: $clr-accent-100;
        color: $clr-accent-400;
        border: 2px solid $clr-accent-100;
        padding: 0.3rem 0.7rem;
        letter-spacing: var($spacing);
        display: inline-block;
        font-weight: 700;
        transition: $ts-400;
        font-size: $fs-200;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

        &:hover {
          color: $clr-accent-100;
          background-color: transparent;
          border-color: $clr-accent-100;
        }
      }
    }
  }
}

@media screen and (max-width: 49em) {
  .main-header {
    padding-top: 1em;

    height: 100%;
    & .navbar {
      gap: 1em;
      flex-wrap: wrap;
      & .logo {
        font-size: $fs-500;
      }
    }
  }
}
